name: test

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Run
      run: $Output = ""; Get-ChildItem | ForEach-Object {$Output+="$($_.Name);"}; $Output; Write-Host $Output
      shell: powershell